<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Browser" value="1"/>
    <add key="email" value ="demchuka1997@gmail.com"/>
    <add key="password" value="6435850dca"/>
    <add key="NameAccount" value="demchuka1997"/>
    <add key ="HomePageName" value="Home | Flickr"/>
    <add key="UserName" value="Sergey Demchuk"/>
    <add key="WordForSearch" value="bird"/>
  </appSettings>
</configuration>